<div ng-controller="ApartmentsController" ng-init="find();populateResidents()">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Apartment ID</th>
            <th>Stairway</th>
            <th>Ownership Date</th>
            <th>Is rented out</th>
            <th>Rented since</th>
            <th>Residents</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="apartment in apartments">
            <td><a href="/#!/apartments/{{ apartment._id }}">{{ apartment.apartmentId }}</a></td>
            <td>{{ apartment.stairway }}</td>
            <td>{{ apartment.ownershipDate }}</td>
            <td>{{ apartment.isRented }}</td>
            <td>{{ apartment.rentedSinceDate }}</td>
            <td><span ng-repeat="resident in residents | filter:apartment.apartmentId">
                <a href="/#!/residents/{{ resident._id }}">{{ resident.name }}</a>
                <span ng-show="!$last">,&nbsp;</span>
            </span></td>
            <td><a href="/#!/apartments/{{ apartment._id }}/edit">Edit</a></td>
        </tr>
        </tbody>
    </table>
    <a href="/#!/apartments/create">Add apartment</a>
</div>