<div ng-controller="ApartmentsController" ng-init="findOne();populateResidents()">
    <h2>Apartment</h2>
    <ul class="list-group">
        <li class="list-group-item">{{ apartment.apartmentId }}</li>
        <li class="list-group-item">{{ apartment.stairway }}</li>
        <li class="list-group-item">{{ apartment.ownershipDate }}</li>
        <li class="list-group-item">{{ apartment.isRented | checkmark }}</li>
        <li class="list-group-item">{{ apartment.rentedSinceDate }}</li>
    </ul>
    <h2>Residents</h2>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="resident in residents | filter:apartment.apartmentId">
            <a href="/#!/residents/{{ resident._id }}">{{ resident.name }}</a>
        </li>
    </ul>
    <a href="/#!/apartments/{{ apartment._id }}/edit">Edit apartment</a>
</div>