<section ng-controller="ResidentsController" ng-init="findOne();populateApartments()">
    <form ng-submit="update()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" data-ng-model="resident.name" id="name" placeholder="Name" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" data-ng-model="resident.email" id="email" placeholder="Email" required>
        </div>
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="text" class="form-control" data-ng-model="resident.phone" id="phone" placeholder="Phone Number" required>
        </div>
        <div class="form-group">
            <label for="owner">Owner</label>
            <input type="checkbox" ng-model="resident.owner" id="owner">
        </div>
        <div class="form-group">
            <label for="apartment">Apartment</label>
            <select class="form-control" ng-model="resident.apartment" id="apartment" ng-options="a._id as a.apartmentId for a in apartments">
                <option value="">Choose an apartment:</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</section>