<div ng-init="find()">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Apartment</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Owner</th>
            <th>Parking Spot</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="resident in residents">
            <td><a ng-href="/#!/residents/{{ resident._id }}">{{ resident.name }}</a></td>
            <td><a href="/#!/apartments/{{ resident.apartment._id }}">{{ resident.apartment.apartmentId }}</a></td>
            <td>{{ resident.email }}</td>
            <td>{{ resident.phone }}</td>
            <td>{{ resident.owner | checkmark }}</td>
            <td><a href="/#!/parkingspots/{{ resident.parkingSpot._id }}">{{ resident.parkingSpot.parkingSpotId }}</a></td>
            <td><a href="/#!/residents/{{ resident._id }}/edit">Edit</a></td>
        </tr>
        </tbody>
    </table>
    <a href="/#!/residents/create">Add Resident</a>
</div>