<div class="resident">
    <div class="row">
        <div class="col-md-4">
            <h2>{{ resident.name }}</h2>
            <ul class="list-group">
                <li class="list-group-item"><label>Email: </label><click-to-edit editable-model="resident.email"></click-to-edit></li>
                <li class="list-group-item"><label>Phone: </label><click-to-edit editable-model="resident.phone"></click-to-edit></li>
                <li class="list-group-item"><label>Owner: </label> {{ resident.owner | checkmark }}</li>
            </ul>
        </div>
        <div class="col-md-4" ng-show="resident.apartment">
            <h2>Apartment</h2>
            <ul class="list-group">
                <li class="list-group-item"><label>ID:</label> <a href="/#!/apartments/{{ resident.apartment._id }}">{{ resident.apartment.apartmentId }}</a></li>
                <li class="list-group-item"><label>Stairway:</label> {{ resident.apartment.stairway }}</li>
                <li class="list-group-item"><label>Ownership date:</label> {{ resident.apartment.ownershipDate | date: 'd. MMM yyyy' }}</li>
            </ul>
        </div>
        <div class="col-md-4" ng-show="resident.parkingSpot">
            <h2>Parking Spot</h2>
            <ul class="list-group">
                <li class="list-group-item"><label>ID:</label> <a href="/#!/parkingspots/{{ resident.parkingSpot._id }}">{{ resident.parkingSpot.parkingSpotId }}</a></li>
                <li class="list-group-item"><label>Occupied since:</label> {{ resident.parkingSpot.occupiedSinceDate | date: 'd. MMM yyyy' }}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a href="/#!/residents/{{ resident._id }}/edit">Edit resident</a>
        </div>
        <toggleable-link model-to-watch="resident" click-function="update()">Save changes</toggleable-link>
    </div>
</div>