<div ng-controller="ResidentsController" class="resident">
    <div class="row">
        <div class="col-md-4">
            <h2 editable-text="resident.name">{{ resident.name }}</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <label>Email:</label>
                    <span editable-text="resident.email">{{ resident.email }}</span>
                </li>
                <li class="list-group-item">
                    <label>Phone:</label>
                    <span editable-text="resident.phone">{{ resident.phone }}</span>
                </li>
                <li class="list-group-item">
                    <label>Owner:</label>
                    <span editable-checkbox="resident.owner">{{ resident.owner | checkmark }}</span>
                </li>
            </ul>
        </div>
        <div class="col-md-4" ng-show="resident.apartment">
            <h2>Apartment</h2>
            <ul class="list-group">
                <li class="list-group-item"><label>ID:</label> <a href="/#!/apartments/{{ resident.apartment._id }}">{{ resident.apartment.apartmentId }}</a></li>
                <li class="list-group-item"><label>Stairway:</label> {{ resident.apartment.stairway }}</li>
                <li class="list-group-item">
                    <label>Ownership date:</label>
                    <span editable-date="resident.apartment.ownershipDate">{{ resident.apartment.ownershipDate | date: 'd. MMM yyyy' }}</span>
                </li>
            </ul>
        </div>
        <div class="col-md-4" ng-show="resident.parkingSpot">
            <h2>Parking Spot</h2>
            <ul class="list-group">
                <li class="list-group-item"><label>ID:</label> <a href="/#!/parkingspots/{{ resident.parkingSpot._id }}">{{ resident.parkingSpot.parkingSpotId }}</a></li>
                <li class="list-group-item"><label>Occupied since:</label> {{ resident.parkingSpot.occupiedSinceDate | date: 'd. MMM yyyy' }}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <save-button model-to-watch="resident" click-function="update()">Save changes</save-button>
        </div>
    </div>
</div>